<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code4fun.dare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:theme="@style/DareTheme"
        android:name="com.code4fun.dare.DareApplication"
        android:icon="@drawable/launcher"
        android:label="@string/app_name" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity
            android:name="com.code4fun.dare.LoginActivity"
            android:screenOrientation="portrait">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity android:name=".MainMenuActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity"/>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.code4fun.dare.PushNotifHandler">
            <intent-filter>
                <action android:name="com.code4fun.dare.PUSH_RECEIVED" />
            </intent-filter>
        </receiver><receiver android:name="com.code4fun.dare.PushNotifHandler">
        <intent-filter>
            <action android:name="com.code4fun.dare.PUSH_RECEIVED" />
        </intent-filter>
    </receiver>

        <receiver android:name="com.code4fun.dare.PushNotifGetDare">
            <intent-filter>
                <action android:name="com.code4fun.dare.GET_DARE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.code4fun.dare.PushNotifFinishedDare">
            <intent-filter>
                <action android:name="com.code4fun.dare.FIN_DARE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.code4fun.dare.PushNotifDareScore">
            <intent-filter>
                <action android:name="com.code4fun.dare.DARE_SCORE" />
            </intent-filter>
        </receiver>

        </application>

</manifest>